
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* Nav bar*/
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;

}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;

}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;

}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}
/*Home Section*/

#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('bckgrnd.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    /*border: 1px solid white;*/
    align-items: center;
    position: center;
    top: 25%;
    right: 25%;
    color: rgb(217, 255, 0);
  text-shadow:
   -3px -3px 0 #000,  
    3px -3px 0 #000,
    -3px 3px 0 #000,
     3px 3px 0 #000;

}
.headings{
    font-family:  century;
    font-size: 4rem;
    text-align: center;
    margin:  40px 0px;
}
.btn{
    padding: 10px 35px;
    background-color: rgb(111, 111, 197);
    border: 1px solid white;
    color: rgb(255, 255, 255);
    outline: none;
    transition: .3s ease;
    margin-bottom: 50px;
    font-size: 1rem;
    font-weight: bold;
    
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
    font-size: large;
}
/* BackgroundoftheStudy*/
#Rationale{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    
}
#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 650px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 2em;
    text-indent: 5%;
    padding: 10px; 
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    
   
}
#intro h2{
    font-size: 3rem;
    margin-bottom: 20px;
    
}
/*porfolio section*/
#Objectives{
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    align-items: center;
    padding: 20px;
    
    
}
.Objectives {
    text-align: left;
    margin-left: 55px;
    font-size: 2rem;
    margin-bottom: 1.5em;
    line-height: 1.5em;
  }

/*Social links Section*/
#Database{
    
    display: flex;
    flex-direction: column;
    padding: 25px;

}
.Database {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1.5em;
    line-height: 1.5em;
    
  }


#ERD{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
}
.ERD{
    text-align: center;
    margin-left: 100px;
    font-size: 2rem;
    margin-bottom: 1.5em;
    line-height: 1.5em;
}

#Links{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(217, 197, 224, 0.9);
    color: rgb(0, 0, 0);
    padding: 20px;
}
.Links{
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
    margin-bottom: 10em;
    line-height: 1.5em;
}
